{% extends '../base.html' %}

{% load email_link %}

{% block content %}
    <h1>Fórums</h1>
    
    <p>
        {% email_link 'nandooliveira.al@gmail.com' %}
    </p>
    
    <p>
        {{ 'fernando'|uppercase }}
    </p>

    <ul>
        {% for forum in forums %}
            <li>
                <a href="{% url 'forums:show' forum.id %}">
                    {{ forum.description }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // alert("É pau, quando Deus quer é assim!");
</script>
{% endblock %}